{#
/**
 * @file
 * Template for the Cingulate site footer navigation menu.
 *
 * Renders a flat horizontal list of legal links.
 *
 * Available variables:
 *   - items: A list of menu items. Each contains:
 *     - title: Link title.
 *     - url: Url object.
 *     - in_active_trail: TRUE if in active trail.
 *   - menu_name: The machine name of the menu.
 *
 * @see cingulate_blocks_preprocess_block()
 * @see template_preprocess_menu()
 *
 * @ingroup themeable
 */
#}
<ul class="footer__nav" role="list">
  {% for item in items %}
    <li>
      <a
        href="{{ item.url }}"
        {% if item.in_active_trail %}aria-current="page"{% endif %}
      >{{ item.title }}</a>
    </li>
  {% endfor %}
</ul>
